@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto:ital,wght@0,400;0,500;1,500&display=swap");
body {
  background: linear-gradient(grey, black); }

.bg-orange {
  background-color: darkorange; }

#botonera a {
  font-weight: 500;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif; }

#nosotros h1, #releases h1 {
  color: #f0a207;
  font-weight: 500;
  padding-top: 3rem;
  font-family: "Berkshire Swash", cursive; }

#nosotros p, #releases p {
  color: white;
  font-weight: 400;
  line-height: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: "Roboto", sans-serif; }

#nosotros .flexNosotros, #releases .flexNosotros {
  display: flex;
  flex-direction: column;
  justify-content: center; }

@media (min-width: 1600px) {
  #nosotros .flexNosotros, #releases .flexNosotros {
    flex-direction: row; } }

#staff h1 {
  color: darkorange;
  font-weight: 500;
  padding-top: 3rem;
  font-family: "Berkshire Swash", cursive; }

.paddingTopImg {
  padding-top: 2rem;
  cursor: pointer; }

.gridImg {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "img" "img" "img" "img" "img";
  align-items: center;
  justify-items: center; }

@media (min-width: 768px) {
  .gridImg {
    grid-template-columns: 50vw 50vw;
    grid-template-rows: auto;
    grid-template-areas: "img img" "img img" "img .";
    justify-content: start; } }

@media (min-width: 1024px) {
  .gridImg {
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: auto;
    grid-template-areas: "img img img" "img img ."; } }

#spoty {
  align-items: center;
  margin-right: 10px;
  box-shadow: 2px 2px 12px red; }

#contacto h2 {
  color: darkorange;
  font-weight: 500;
  padding-top: 2.5rem;
  font-family: "Berkshire Swash", cursive; }

#contacto a {
  text-decoration: none; }

#contacto .btn-boton {
  min-width: 130px;
  height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
  border: none;
  background: #343a40;
  box-shadow: 0 5px #212529; }

#contacto .btn-boton:hover {
  box-shadow: 2px 2px 12px red;
  op: 1px; }

#contacto .btn-boton active {
  box-shadow: 0px 2px 6px blue;
  top: 5px;
  color: blue;
  box-shadow: 2px 2px 12px darkorange; }

.bg-footer {
  --bs-bg-opacity: 1;
  background-color: darkorange; }

h3 {
  color: #f0a207;
  font-weight: 500;
  padding-top: 1.5rem;
  font-family: "Berkshire Swash", cursive; }

.djFlex {
  display: flex;
  flex-direction: column-reverse;
  align-items: center; }

#evolet h2, #neptuno h2, #godai h2, #tjoker h2, #johhny h2 {
  color: darkorange;
  padding-top: 2.5rem;
  font-family: "Berkshire Swash", cursive; }

#evolet p, #neptuno p, #godai p, #tjoker p, #johhny p {
  color: white;
  font-weight: 400;
  line-height: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: "Roboto", sans-serif; }
