body{
	background: linear-gradient(grey,black);
}

section article p {
	color: white;
	font-weight: 400;
	line-height: 3rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

h1,h2,h3{
	color: rgb(240, 162, 7);
	font-weight: 500;
    padding-top: 3rem;

}

.paddingTopImg{
	padding-top: 2rem;
	cursor: pointer;

}

.bg-orange {
    --bs-bg-opacity: 0.5;
    background-color: darkorange;
 }

.btn-boton{   
	--bs-bg-opacity: 0.5;
    background-color: darkorange;
 }

 .bg-footer {
    --bs-bg-opacity: 1;
    background-color:darkorange;

}
.evoletFlex{
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}
.flexNosotros{
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.gridImg{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "img" "img" "img" "img" "img";
    align-items: center;
    justify-items: center;

}

@media (min-width: 768px){

.gridImg{
    grid-template-columns: 50vw 50vw;
    grid-template-rows: auto;
    grid-template-areas:
                         "img img"
                         "img img"
                         "img ."                   
    justify-content: start;
   }
}

@media (min-width: 1024px){
 .gridImg{
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: auto;
    grid-template-areas:
                         "img img img"
                         "img img ."
                        

 }

.flexNosotros{
   	flex-direction:row ;
  }
}
