#contacto{
	     h2{
	      @include titulos (darkorange, 500); 
          padding-top: $textl;
          font-family: $fontTitulos;
	     }
           a{
           text-decoration: none;}
	         .btn-boton{
	         min-width: 130px;
              height: 40px;
              padding: 5px 10px;
              font-weight: bold;
             cursor: pointer;
             transition: all 0.3s ease;
              border-radius: 5px;
              border: none;
             background: #343a40;
             box-shadow: 0 5px #212529; }
               .btn-boton:hover {
                 box-shadow: map-get($map:$shadow,$key:'sh2');
                  op: 1px;}
                  .btn-boton active {
                      box-shadow: map-get($map:$shadow,$key:'sh1');
                      top: 5px;
	                 color: blue;
	                   box-shadow: map-get($map:$shadow,$key:'sh3');  }

}
