#contacto{
	     h2{
	     	color: darkorange;
	        font-weight: 500;
            padding-top: $textl;
            font-family: $fontTitulos;
	     }
	     .btn-boton{
	     	color: blue;
         }
}