@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto:ital,wght@0,400;0,500;1,500&display=swap');

$fontGeneral: 'Roboto', sans-serif;
$fontTitulos: 'Berkshire Swash', cursive;

$textXl:3rem;
$textl:2.5rem;
$textS:2rem;
$textXs:1.5rem;
