.djFlex{
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

 #evolet{
	h2{
	 color: darkorange;
	 padding-top: $textl;
     font-family: $fontTitulos;
	}
	p{
     @include titulos (white, 400);
	 line-height: 3rem;
	 margin-left: 1rem;
	 margin-right: 1rem;
     font-family: $fontGeneral;
    }
 }
// <!-- Uso extend -->

 #neptuno{
  @extend #evolet;}

 #johhny{
  @extend #evolet;}

 #godai{
  @extend #neptuno;}

  #tjoker{
  @extend #neptuno;}


